# MTD device name       Device offset   Env. size       Flash sector size       Number of sectors
#/dev/mtd2               0x0          0x20000          0x20000
# 2023.12.22, liyingbing, fix it;
# p1=uboot_env
# p2=factory
# p3=fip
# p4=kernel
# p5=rootfs
# p6=userdata
#

/dev/mmcblk0p1           0x0          0x20000          0x20000 0 0
